# このファイルは test.env の雛形です
# 本番や開発ではなく、Jestなどの自動テストで使う専用環境変数です
# 実行前に以下のようにコピーして使用してください：

# cp test.env.example test.env

# Prisma 用の PostgreSQL テストデータベース
DATABASE_URL=postgresql://admin:password@postgres:5432/post_test

# サービスが使用するポート番号（テスト時）
PORT=3001